.venv/
__pycache__/
*.pyc

Log/
outputs/screenshots/*
!outputs/screenshots/.gitkeep
outputs/videos/*
!outputs/videos/.gitkeep
outputs/rgbd/*
!outputs/rgbd/.gitkeep
outputs/camera_params/*
!outputs/camera_params/.gitkeep
outputs/RGBD/*
outputs/*.avi
outputs/*.mp4
outputs/*.mkv

.DS_Store
.vscode/
.idea/
